
<!--<div layout="row" layout-align="center" class="wrapper anim-fade">
  <div flex>First item in row</div>
  <div flex>Second item in row</div>
  <div flex>First item in row</div>
  <div flex>Second item in row</div>
  <div flex>First item in row</div>
  <div flex>Second item in row</div>
</div>



<div layout="row" layout-md="column" layout-sm="column" layout-xs="column" layout-lg="row">
  <div flex>First item in column</div>
  <div flex>Second item in column</div>
</div>
-->

 <main>
        <md-content layout="row" ui-view="" flex="" class="anim-in-out ng-scope flex" data-anim-sync="true" data-anim-speed="300">
     
        <div class="wrapper anim-fade" layout-padding layout="row" layout-wrap>
  			<div class="view-top-cards" layout="column">
	  			<div layout="row">
	  				Crops
	  			</div>
	  			<div layout="row">
	  				<md-icon aria-label="local_florist" class="material-icons">local_florist</md-icon>
	  			</div>
  			</div>
  			<div ng-click="mandiView('going to mandi ...')" class="view-top-cards" layout="column">
	  			<div layout="row">
	  				Mandi
	  			</div>
	  			<div layout="row">
	  				<md-icon aria-label="local_florist" class="material-icons">local_florist</md-icon>
	  			</div>
  			</div>
  			<div ng-click="contactView('going to contact ...')" class="view-top-cards" layout="column">
	  			<div layout="row">
	  				Contacts
	  			</div>
	  			<div layout="row">
	  				<md-icon aria-label="local_florist" class="material-icons">local_florist</md-icon>
	  			</div>
  			</div>
		</div>
		

        <md-content class="wrapper anim-fade" layout-padding layout="row" layout-wrap>
        <div flex="33" flex-sm="100" flex-xs="100">
            <md-card class="md-hue-1">
                <md-card-title flex="initial">
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Small</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media">

                           
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex="33" flex-sm="100" flex-xs="100">
            <md-card class="md-hue-1">
                <md-card-title flex="initial">
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Small</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media">
                            
                        </div>

                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex="33" flex-sm="100" flex-xs="100">
            <md-card class="md-hue-1">
                <md-card-title flex="initial">
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Small</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media">
                           
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
        </md-content>
    </main>



