{{editCropmsg}}

<div ng-init="loadDetails()">
	

	<div layout="row">
	<div class="cropDetails1" flex="40">Crop name</div><div  class="cropDetails" flex>{{item.name}}</div>
	</div>
	<div layout="row">
	<div class="cropDetails1" flex="40">Variety </div><div class="cropDetails" flex>{{item.variety}}</div>
	</div>
	<div layout="row">
	<div class="cropDetails1" flex="40">Notes </div><div class="cropDetails" flex>{{item.notes}}</div>
	</div>
	<div layout="row">
	<div class="cropDetails1" flex="40">Parameters</div>
	</div>
	<div layout="row" ng-repeat="(key, value) in item.parameters">
	<div class="cropDetails1" flex="40">{{key}} </div><div class="cropDetails" flex>{{value}}</div>
	</div>



</div>