<!--<div>

Add crop form here ...

<md-button ng-click="Backtocrop('going back to crop list ...')">Take me back to crop</md-button>

</div>
{{msg}}
-->
<!--

<md-button ng-click="Backtocrop('going back to crop list ...')">Take me back to crop</md-button>

<div style="padding: 0 10% 0 10%;"> 

  <md-content layout-padding>
    <div style="padding:10px;background-color: #fff;">
    <div layout="row" layout-align="center center">ADD CROP</div>
      <form name="userForm" style="background-color: #fff;">

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Crop name</label>
            <input ng-model="user.company">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Variety</label>
            <input ng-model="user.company">
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Notes</label>
          <input ng-model="user.address">
        </md-input-container>

      
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Parameters</label>
            <md-select ng-model="user.state">
              <md-option>
                Para 1
              </md-option>
              <md-option>
                Para 2
              </md-option>
              <md-option>
                Para 3
              </md-option>
              <md-option>
                Para 4
              </md-option>
            </md-select>
          </md-input-container>
        </div>

           <fieldset  data-ng-repeat="choice in choices">
      <select>
         <option>Mobile</option>
         <option>Office</option>
         <option>Home</option>
      </select>
      <input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">
      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
      
   </fieldset>
   <button class="addfields" ng-click="addNewChoice()">Add fields</button>

        <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary">Save</md-button>
                    <md-button>Cancel</md-button>
                </md-card-actions>

      </form>
    </div>
  </md-content>
  </div>
  -->

  <div layout="column" class="container" flex>
<div layout="row" layout-align="center center" flex><h3>Add Crop</h3></div>

<div layout="row">
<div layout="row" flex><md-button ng-click="Backtocrop('going back to crop list ...')">Back to Crop</md-button></div>
<!--<div layout="row" layout-align="end center"><md-button class="md-raised md-primary" ng-click="Backtocrop('going back to crop list ...')">Edit</md-button></div>-->
</div>
	<div layout="row">
	<div class="cropDetails1" flex="40">Crop name</div><div class="cropDetails" flex><md-input-container class="md-block" flex-gt-xs><input ng-model="user.company"></md-input-container></div>
	</div>
	<div layout="row">
	<div class="cropDetails1" flex="40">Variety </div><div class="cropDetails" flex><md-input-container class="md-block" flex-gt-xs><input ng-model="user.company"></md-input-container></div>
	</div>
	<div layout="row">
	<div class="cropDetails1" flex="40">Notes </div><div class="cropDetails" flex><md-input-container class="md-block" flex-gt-xs><input ng-model="user.company"></md-input-container></div>
	</div>

	<div layout="row">
	<div class="cropDetails1" flex="40">Parameters</div>
	</div>
	
	<div  data-ng-repeat="choice in choices">
	<div layout="row">
	<div class="cropDetails1" flex="40"><md-input-container type="text" ng-model="choice.name" name="">
	<input ng-model="user.company" placeholder="Enter parameter"></md-input-container></div>
  <md-button class="remove md-raised md-primary" ng-click="removeChoice(choice)">Remove</md-button>
	<div class="cropDetails" flex>
	
	<!--<select>
         <option>Mobile</option>
         <option>Office</option>
         <option>Home</option>
    </select>-->
    <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Select Parameters</label>
            <md-select ng-model="user.state">
              <md-option>
                Centimeters
              </md-option>
              <md-option>
                Percentage
              </md-option>
              <md-option>
                Ratio
              </md-option>
            </md-select>
          </md-input-container>
        </div>
     
      </div>

	</div>
	 <!--<md-button class="remove md-raised md-primary" ng-show="$last" ng-click="removeChoice()">Remove</md-button>-->
	</div>


	<div layout="row">
	<div class="" flex="40"></div><div class="" flex><md-button class="addfields md-raised md-primary" ng-click="addNewChoice()">Add parameters</md-button></div>
	</div>

	<!--<div layout="column">
	<div><h4>Parameters</h4></div>
	<div  data-ng-repeat="choice in choices">
	<md-input-container type="text" ng-model="choice.name" name="" placeholder="Enter parameter">
	<input ng-model="user.company"></md-input-container>
      <div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Parameters</label>-->
     <!-- <select>
         <option>Mobile</option>
         <option>Office</option>
         <option>Home</option>
      </select>
          </md-input-container>
        </div>
      
      <md-button class="remove" ng-show="$last" ng-click="removeChoice()">Remove</md-button>
   	</div>

   <md-button class="addfields md-raised md-primary" ng-click="addNewChoice()">Add parameters</md-button>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary">Save</md-button>
        <md-button>Cancel</md-button>
    </md-card-actions>
    </div>
    -->

<md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary">Save</md-button>
        <md-button>Cancel</md-button>
    </md-card-actions>
</div>





