<div class="container">
 <md-content class="wrapper anim-fade" layout-padding>
<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <!--<input type="text" class="form-control" placeholder="Search for crop" ng-model="searchCrop">-->


  <div layout="row" layout-md="column" layout-sm="column" layout-xs="column" layout-lg="row">
  <div><md-input-container>
     <md-icon class="material-icons">&#xE8B6;</md-icon>
     <input placeholder="Search for crop" ng-model="searchCrop">
  </md-input-container>
  </div>
  <div flex>
  	<md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="Addcrop('add crop ...')" class="md-raised md-primary">Add crop</md-button>
                </md-card-actions>
  </div>
  </div>


      </div>      
    </div>
 </form>
 </md-content>
 <md-content class="wrapper anim-fade" layout-padding layout="row" layout-wrap>
        <div flex="33" flex-sm="100" flex-xs="100" ng-repeat="fruit in croplist | filter:searchCrop">
            <md-card class="md-hue-1">
                <md-card-title flex="initial">
                    <md-card-title-text>
                        <span class="md-headline">{{fruit.name}}</span>
                        <md-divider></md-divider>
                        <span style="color: {{fruit.color}}" class="md-subhead">{{fruit.variety}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media">

                           
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showDetails(fruit)" class="md-raised">View</md-button>
                </md-card-actions>
            </md-card>
        </div>
        </md-content>
        </div>