<div layout="column" class="container" flex>
  
  <div layout="row" layout-align="center center" flex><h3>Add crop</h3></div>
  
  <div layout="row">
  <div layout="row" flex><md-button ng-click="Backtocrop('going back to crop list ...')">Back to Crop</md-button></div>
  </div>

	<div layout="row">
	<div class="cropDetails1" flex="40">Crop name</div>
  <div class="cropDetails md-block" flex><input class="customInput" ng-model="user.name"/></div>
	</div>

	<div layout="row">
	<div class="cropDetails1" flex="40">Variety </div>
  <div class="cropDetails md-block" flex><input class="customInput" ng-model="user.variety"/></div>
	</div>

	<div layout="row">
	<div class="cropDetails1" flex="40">Notes </div>
  <div class="cropDetails md-block" flex><input class="customInput" ng-model="user.notes"/></div>
	</div>

	<div layout="row">
	<div class="cropDetails1" flex="40">Parameters</div>
	</div>
	
	<div  data-ng-repeat="choice in choices">
  <div layout="row">
  <div class="cropDetails1" flex="40"><md-input-container type="text" ng-model="choice.name" name="">
  <input placeholder="Enter parameter"></md-input-container>
  </div>
  <div class="cropDetails" flex>
  <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Select Parameters</label>
            <md-select ng-model="user.state">
              <md-option>
                Centimeters
              </md-option>
              <md-option>
                Percentage
              </md-option>
              <md-option>
                Ratio
              </md-option>
            </md-select>
          </md-input-container>

          <md-button ng-click="removeChoice(choice)" class="md-fab md-mini md-warn" aria-label="add">
              <md-icon class="material-icons">remove</md-icon>
          </md-button>
        
        </div>
      </div>
	</div>
	</div>

  <div layout="row">
	<div class="" flex="40"></div><div class="" flex><md-button class="addfields md-raised md-primary"
   ng-click="addNewChoice()">Add parameters</md-button>
  </div>
	</div>

  <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary">Save</md-button>
      <md-button>Cancel</md-button>
  </md-card-actions>

</div>





