<div class="container">

	<div layout="row" layout-align="center center" flex><h3>Edit crop details</h3></div>

	<div layout="row">
		<div layout="row" flex>
			<md-button ng-click="BacktocropDetails('going back to crop list ...')">Back to Crop</md-button>
		</div>
	</div>

<div ng-init="loadDetails1()">
	

	<div layout="row">
		<div class="cropDetails1" flex="40">Crop name</div>
		<div class="cropDetails" flex>
			<input class="customInput" ng-model="item.name" value="{{item.name}}">
		</div>
	</div>

	<div layout="row">
		<div class="cropDetails1" flex="40">Variety </div>
		<div class="cropDetails" flex>
			<input class="customInput" ng-model="item.variety" value="{{item.variety}}">
		</div>
	</div>

	<div layout="row">
		<div class="cropDetails1" flex="40">Notes </div>
		<div class="cropDetails" flex>
			<input class="customInput" ng-model="item.notes" value="{{item.notes}}">
		</div>
	</div>

	<div layout="row">
		<div class="cropDetails1" flex="40">Parameters</div>
	</div>

	<div layout="row" ng-repeat="(key, value) in item.parameters">
		<div class="cropDetails1" flex="40">{{key}} </div>
		<div class="cropDetails" flex>{{value}}</div>
	 	
	 	<md-button data-ng-click="removeItem(key)" class="md-fab md-mini md-warn" aria-label="add">
             <md-icon class="material-icons">remove</md-icon>
        </md-button>
	</div>

	<div  data-ng-repeat="choice in choices">
		<div layout="row">
		<div class="cropDetails1" flex="40">
			<md-input-container type="text" ng-model="choice.name" name="">
				<input ng-model="user.company" placeholder="Enter parameter">
			</md-input-container>
		</div>
		<div class="cropDetails" flex>
	    <div layout-gt-sm="row">
	        <md-input-container class="md-block" flex-gt-sm>
	        	<label>Select Parameters</label>
	            	<md-select ng-model="user.state">
	              	<md-option>
	                	Centimeters
	              	</md-option>
	              	<md-option>
	                	Percentage
	              	</md-option>
	              	<md-option>
	               		Ratio
	              	</md-option>
	            	</md-select>
	        </md-input-container>
	        <md-button ng-click="removeChoice(choice)" class="md-fab md-mini md-warn" aria-label="add">
	            <md-icon class="material-icons">remove</md-icon>
	        </md-button>
	    </div>  
	    </div>
		</div>
	</div>

	<div layout="row">
	<div class="" flex="40"></div>
	<div class="" flex>
		<md-button class="addfields md-raised md-primary" ng-click="addNewChoice()">Add parameters</md-button>
	</div>
	</div>

</div>
</div>