<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>eFasal</title>
</head>
<body>
Crops View

 <ul class="crops">
 <% for(var i=0; i< ["project.crops"].length; i++) {%>
   <li class="crop">
   	<%= ["project.crops"].length%>
     <span><%= ["project.crops"][i].name %></span>
     <span><%= ["project.crops"].variety %></span>
     <span><%= ["project.crops"].note %></span>
   </li>
 <% } %>
 </ul>

 <form action="/project/crops" method="POST">
   <input type="text" placeholder="name" name="name">
   <input type="text" placeholder="variety" name="variety">
   <input type="text" placeholder="note" name="note">
   <button type="submit">Submit</button>
 </form>

 <div>
 <h2>Replace last quote written by Master Yoda with a quote written by Darth Vadar</h2>
 <button id="update"> Darth Vadar invades! </button>
</div>

<div>
 <h2>Delete Darth Vadar's first quote</h2>
 <button id="delete"> Delete first Darth Vadar quote </button>
</div>
</body>
</html>