<div>
     <div class="wrapper anim-fade" layout-padding layout="row" layout-wrap>
  			<div ui-sref=".crop" class="view-top-cards" layout="column">
	  			<div layout="row" ng-class="{ active: isActive('crops')}">
	  				Crops
	  			</div>
	  			<div layout="row">
	  				<md-icon aria-label="local_florist" class="material-icons">local_florist</md-icon>
	  			</div>
  			</div>
  			<div ui-sref=".mandi" class="view-top-cards" layout="column" ng-class="{ active: isActive('mandi')}">
	  			<div layout="row">
	  				Mandi
	  			</div>
	  			<div layout="row">
	  				<md-icon aria-label="local_florist" class="material-icons">local_florist</md-icon>
	  			</div>
  			</div>
  			<div ui-sref=".contact" class="view-top-cards" layout="column" ng-class="{ active: isActive('contacts')}">
	  			<div layout="row">
	  				Contacts
	  			</div>
	  			<div layout="row">
	  				<md-icon aria-label="local_florist" class="material-icons">local_florist</md-icon>
	  			</div>
  			</div>
		</div>

</div>
<div ui-view></div>